<!DOCTYPE html>
{% extends 'doctor/DashBord.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="container-fluid bg-btn-warning py-5 "
         style="background-Image:url({% static 'patient_doctor/images/hp.jpg' %}); background-size:100% 100%;margin-bottom: 90px; height:400px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                {% for i in doctor %}
                <h1 class="display-4 text-white animated zoomIn" style=""></h1>
                {% endfor %}

            </div>
        </div>
    </div>
<h1 style="margin-top:100px;"></h1>
<div class="" data-wow-delay="0.1s">
    <div class="">
<div class="col-md-12 wow  overflow-auto " data-wow-delay="0.6s">
                        <div class="blog-item  rounded">
                            <div class="blog-img position-relative ">
                                <img alt="" class="img-fluid" src="img/blog-2.jpg">
<!--                                <a class="position-absolute top-0 start-0 bg-primary text-black rounded-end mt-5 py-2 px-4"-->
<!--                                   href="">Web Design</a>-->
<!--                            </div>-->

                            <div class="">
                        <h2 style="color:#ffc107;text-align:center;">Pending Lab Reports</h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for quote in quotes %}
                            <input name="q" type="hidden" value="{{quote.Username}}">
                            {% endfor %}
                            <table class="table overflow-auto" style="">
                                <thead>
                                <tr>
                                    <th>Prescription</th>
                                    <th>Report</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Patient ID</th>
                                    <th>Doctor</th>
                                    <th>Hospital Name</th>
                                    <th>Lab Name</th>
                                    <th>Download</th>
                                    <th>delete</th>
                                </tr>

                                </thead>
                                <tbody>
                                {% for i in op %}
                                <tr>
                                    <td style="color:black;">{{i.Message}}</td>
                                    {% if i.Report == 'Pending'%}
                                    <td style="color:#ffc107">{{i.Report}}</td>
                                    {% else %}
                                    <td>{{i.Report}}</td>
                                    {% endif %}

                                    {% if i.Report == 'Pending'%}
                                    <td style="color:#ffc107">{{i.Status}}</td>
                                    {% else %}
                                    <td style="color:green">{{i.Status}}</td>
                                    {% endif %}
                                    <td style="color:black;">{{i.date}}</td>
                                    <td style="color:black;">{{i.Username}}</td>
                                    <td style="color:black;">{{i.Doctor_User}}</td>
                                    <td style="color:black;">{{i.Hospital_Name}}</td>
                                    <td style="color:black;">{{i.lab}}</td>
                                    <td>
                                        <form action="{% url 'download_file' i.id %} ">

{% if i.Report == 'Pending'%}
                                    <p style="color:red">Waiting for report</p>
                                    {% else %}
                                     <button class="btn btn-outline-warning"><svg xmlns="http://www.w3.org/2000/svg" style=" font-weight:500px;" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">

                                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg> Download</button>

                                    {% endif %}

                                        </form>
                                    </td>
 <td data-label="Staus">
     <form action="{% url 'patient_labreport_delete' i.id %}">
                                        <button class="btn btn-outline-danger">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg>                                            </button>

                                   </form>
 </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <br>
                        </form>


                    </div>

                </div>
            </div>
</div>
    </div>
</div>
</body>
<style>
     .table {
      width: 85%;
      margin-left:90px;
      border-collapse: collapse;
    }

    .table td,
    .table th {
      padding: 12px 15px;
      border: 1px solid #ddd;
      text-align: center;
      font-size: 16px;
    }

   .table th {
    background-color: #ffc107;
    color: #212529;
}

    .table tbody tr:nth-child(even) {
    background-color: #f5f5a0;;
}

    /*responsive*/

    @media (max-width: 500px) {
      .table thead {
        display: none;
      }

      .table,
      .table tbody,
      .table tr,
      .table td {
        display: block;
        width: 100%;
      }
      .table tr {
        margin-bottom: 15px;
      }
      .table td {
        padding-left: 50%;
        text-align: left;
        position: relative;
      }
      .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
      }
    }
</style>
</html>
{% endblock %}